<mat-toolbar color="primary" class="header mat-elevation-z6">
  <span>
    <div>
      <a>
        <img class="logo" src="assets/img/bigodon.gif">
      </a>
    </div>
  </span>

  <div class="spacer">

  </div>
  <a mat-button routerLink='home' color="accent">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button routerLink='agenda'>Agenda</a>
  <a mat-button routerLink='agendamento'>Agendamento</a>
  <a mat-button routerLink='clientes'>Clientes</a>
  <a mat-button routerLink='precos'>Preços</a>
</mat-toolbar>